<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main class="room">
    <form action="">
        <!-- <input type="text" placeholder="CREATE ROOM"> -->
        <input type="submit" value="Create Room">
    </form>
    <p>OR</p>
    <form action="">
        <input type="text" placeholder="Join room"><input type="submit" value="Join">
    </form>
</main>
</body>
</html>