<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2 id="player-1"><%= player1 %></h2>
    <h2 id="player-2"><%= player2 %></h2>
    <section>
        <div>
            <button id="cell-1"></button>
            <button id="cell-2"></button>
            <button id="cell-3"></button>
        </div>
        <div>
            <button id="cell-4"></button>
            <button id="cell-5"></button>
            <button id="cell-6"></button>
        </div>
        <div>
            <button id="cell-7"></button>
            <button id="cell-8"></button>
            <button id="cell-9"></button>
        </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
</body>
</html>