@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --background-color: #EAE1DE;
    --color: #EC2D0B;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    width: fit-content;
    margin: 2rem auto;
    font-size: 4rem;
}

table {
    margin: 0 auto;
    border-spacing: 0.5rem;
}

th, button {
    padding: 1rem;
    font-size: 3rem;
    background-color: var(--color);
    cursor: pointer;
    width: 8rem;
    height: 8rem;
    border: none;
}

th:hover, button:hover {
    opacity: 0.5;
}

tr:nth-of-type(1) th:first-of-type, div:first-of-type button:nth-of-type(1) {
    border-radius: 1rem 0 0 0;
}

tr:nth-of-type(1) th:last-of-type, div:first-of-type button:nth-of-type(3) {
    border-radius: 0 1rem 0 0;
}

tr:nth-of-type(3) th:first-of-type, div:last-of-type button:nth-of-type(1) {
    border-radius: 0 0 0 1rem;
}

tr:nth-of-type(3) th:last-of-type, div:last-of-type button:nth-of-type(3) {
    border-radius: 0 0 1rem 0;
}

#player-1, #player-2 {
    padding: 1rem;
    border-radius: 1rem;
    background-color: lightgray;
    width: fit-content;
}

/* TH -> Buttons */
section {
    width: fit-content;
    margin: 5% auto;
}

section div {
    display: flex;
}

button {
    margin: 0.2rem;
}